<head>
    <style>
        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
        }
        .small {
            position: absolute;
            left: 50%;
            top: 55%;
        }
    </style>
</head>

<div class="container">
    <h1>註冊成功</h1>
    <div class="text-center">
        <a class="small" href="/Home">返回首頁</a>
    </div>
</div>