<script>
    $(document).ready(function () {
        $("button[name=delete]").click(function (e) {
            var re = e.target.id.replace("btn_", "");
            $.post("/User/Delete", { id: re }, function (e1) {
                if (e1 == "ok") {
                    location.reload();
                }
                else {
                    alert("lose");
                }
            });
        });
    });
</script>







<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Account</th>
            <th scope="col">Password</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    @foreach (var user in ViewBag.users)
    {
        <tbody>
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Account</td>
                <td>@user.Password</td>
                <td><button class="btn btn-danger" id="btn_@user.Id" name="delete">刪除</button></td>
                <td><a class="btn btn-info" href="/User/UserEdit/@user.Id">編輯</a></td>
            </tr>
        </tbody>
    }
</table>

<a class="btn btn-info" href="/User/Add">新增</a>


