<form action="/User/UserEditPost" method="post">
    <input type="hidden" value="@ViewBag.user.Id" name="id" />
    <input type="text" value="@ViewBag.user.Name" name="name" />
    <input type="text" value="@ViewBag.user.Account" name="account" />
    <input type="text" value="@ViewBag.user.Password" name="password" />
    <input type="submit" value="送出" />
</form>