<form action="/Game/GameEditPost" method="post">
    <input type="hidden" value="@ViewBag.game.Id" name="id" />
    <input type="text" value="@ViewBag.game.Name" name="name"/>
    <input type="text" value="@ViewBag.game.Description" name="description"/>
    <input type="submit" value="送出" /> 
</form>