<header>
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        #sticky-footer {
            flex-shrink: 0;
        }
    </style>

    <script>
        function answer() {
            alert("OK")
        }
    </script>
</header>



<d1iv class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">虛擬寶物交易平台</h2>
                    <h4 class="display-4">Virtual treasure trading</h4>
                    <p class="lead">提供各種寶物兌換</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">絕對免費</h2>
                    <p class="lead">0手續費交易平台，只要你想要任何時間都可以將你要販售的內容放上來</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">將你不需要的票卷換成現金</h2>
                    <p class="lead">可以把任何你用不到的票券兌換成你需要的東西包括，全家禮券. 7-11禮卷. 家樂福禮卷. SOGO禮卷.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</d1iv>




<div class="null">

</div>

<button type="button" class="btn btn-primary">新增公告</button>
<!--<h1 class="text-center">訊息公告</h1>-->
<!--
<hr>
<div class="media">
    <img src="http://placehold.it/64x64" class="align-self-start mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<hr>
<div class="media">
    <img src="http://placehold.it/64x64" class="align-self-start mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<hr>
<div class="media">
    <img src="http://placehold.it/64x64" class="align-self-start mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
 -->


<hr>

<!-- Pagination
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
         -->
<div>
    <h1>平台使用方式</h1>
    <p>透過你手上擁有的票卷，禮卷或是各大代幣，如 全家禮卷 7-11禮卷 家樂福禮卷 或是SOGO點數，在我們平台上兌換成平台幣，購買你想要購買的其他種類禮卷</p>
    <p>比如: 你有7-11的百元禮卷，但是你想吃全家的冰淇淋，你可以透過使用7-11在本平台上與其他用交換全家禮卷，達到你想購買商品的意願 </p>
</div>

<hr>


<div class="null">
    <h1>今日交易匯率</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-primary" style="color:white;">
                        <th scope="col">禮券</th>
                        <td colspan="2">延幣買入匯率</td>
                        <td colspan="2">延幣賣出匯率</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">全聯</th>
                        <td colspan="2" class="fx">31</td>
                        <td>29</td>
                    </tr>
                    <tr class="table-active">
                        <th scope="row">家樂福</th>
                        <td colspan="2">32</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <th scope="row">4大超商</th>
                        <td colspan="2">33</td>
                        <td>29</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <tr class="bg-primary" style="color:white;">
                    <td colspan="3">匯率試算</td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option value="Pxmart">全聯</option>
                                <option value="Carrefour">家樂福</option>
                                <option value="Market">4大超商</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">數量</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                                <span class="input-group-text">個</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="answer()">送出</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div>


</div>
<hr>
<h1 class="text-center">新聞公告</h1>
<hr>
<div class="container">

    <div class="media">
        <img src="https://img.ltn.com.tw/Upload/business/page/800/2020/08/12/phpmYogLw.jpg" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <h5 style="font-weight: bold; " class="mt-0">今日加密貨幣新聞，幣價</h5>
            <p>
                〔財經頻道／綜合報導〕今年市場因武漢肺炎（新型冠狀病毒病，COVID-19）疫情大幅波動，隨著美國聯準會（Fed）持續將利率維持接近零，美元匯價也跟著大跌，同時比特幣匯價則在今年迄今大漲約60%，且目前價格和今年3月中旬的低點相比，約大漲超過130%，分析師認為，這是投資者在疫情期間，將比特幣視為避險工具所致。

                《CNN》11日報導，比特幣匯價目前正處於今年以來最高，TradeStation Crypto產品策略主管James Putra指出，比特幣匯價上漲，是因為投資者正尋求避險，儘管比特幣的資安問題，可能讓投資者和散戶不會將大筆資產投入比特幣。

                ETF管理公司GraniteShares則稱，自從比特幣在3月觸底以來，有些人愛上比特幣並不斷推升匯價，但機構投資者未來可能藉這股漲勢，拋售比特幣獲利，儘管比特幣交易者仍然會歡迎匯價上漲。
            </p>

        </div>
    </div>
</div>


